{% extends "base.html" %}
{% from "_navbar.html" import render_navbar %}
{% from "_macros.html" import render_field %}

{% block title %}
    Board
{% endblock %}

{% block head %}
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <style>
        [v-cloak] {
            display: none;
        }


    </style>
{% endblock %}

{% block content %}
    {{ render_navbar() }}
    <div id="app" v-cloak>
        <div class="container-fluid">
            <div class="row">
                <div class="col-3">
                    <v-card
                            class="mt-4"
                            max-width="300"
                            tile
                    >
                        <v-list two-line v-if="'{{ session.username }}'">
                            <v-subheader>Users</v-subheader>
                            <button type="button" v-on:click="setChat('main_board')" class="btn btn-outline-dark mt-2">
                                Main Board
                            </button>
                            <v-list-item-group
                                    v-model="selectedItem"
                                    color="primary"
                            >
                                <v-list-item
                                        v-for="(user, i) in users"
                                        :key="i"
                                        v-on:click="setChat(user.username)"
                                >
                                    <span class="dot bg-dark text-white">[[ user.name[0] ]] [[ user.surname[0] ]] </span>
                                    </v-avatar>

                                    <v-list-item-content>
                                        <v-list-item-title v-text="user.name + ' ' +user.surname"></v-list-item-title>
                                        <span>[[ usersLastMsg[user.username] ]]</span>
                                    </v-list-item-content>
                                </v-list-item>
                            </v-list-item-group>
                        </v-list>
                    </v-card>
                </div>

                <div class="col jumbotron mt-5" style="width: 700px; height: 600px">
                    <div id="scroller" class="chat container">
                        <div v-for="message in messages" class="message row">

                            <div v-if="message.from == user" class="col offset-md-3 message-box bg-info text-white">
                                <p class="text-right">
                                    <span> [[ message['date'] ]] </span>
                                    <span class="font-weight-bold"> [[ message['from'] ]] </span>
                                </p>
                                <p class="text-right"> [[ message['body'] ]] </p>
                            </div>

                            <div v-else class="col-9 message-box bg-dark text-white">
                                <p>
                                    <span class="font-weight-bold"> [[ message['from'] ]] </span>
                                    <span> [[ message['date'] ]] </span>
                                </p>
                                <p> [[ message['body'] ]] </p>
                            </div>

                        </div>

                        <div id="anchor"></div>
                    </div>

                    <form id="message_form" v-if="chat">
                        <dl>
                            {{ message_form.csrf_token }}
                            <input id="from" name="from" type="hidden" value='{{ session.username }}'/>
                            {{ message_form.message(**{"class": "form-control","v-on:keydown.enter.prevent":"sendMsg()","autocomplete":"off"}) }}
                        </dl>
                        <a v-on:click="sendMsg()" class="btn btn-primary" id="submit">SUBMIT</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
        const app = new Vue({
            el: "#app",
            delimiters: ['[[', ']]'],
            data: () => ({
                intervalId: null,
                intervalLastMsgId: null,
                messages: [],
                messagesIds: [],
                chat: "{{ url_for_api_messages }}" + "?limit=" + "{{ limit }}",
                users: [],
                usersLastMsg: {},
                user: "{{ session.username }}",
                sendUrl: "",
                selectedItem: "",
                scrollNotForScroll: false,
                items: [
                    {text: 'Real-Time', icon: 'mdi-clock'},
                    {text: 'Audience', icon: 'mdi-account'},
                    {text: 'Conversions', icon: 'mdi-flag'},
                ],
            }),
            methods: {
                loadData() {
                    fetch(this.chat)
                        .then(response => response.json())
                        .then(json => {
                            for (let message of json.messages) {
                                if (!this.messagesIds.includes(message.msgId)) {
                                    this.messagesIds.push(message.msgId)
                                    this.messages.push(message)
                                }
                            }
                        });
                },
                loadLastMsgs() {
                    for (let friend of this.users) {
                        let fetch_url = "{{ url_for('api.chat_rooms') }}?" + "friend=" + friend.username + "&user=" + this.user + "&limit=1"
                        fetch(fetch_url)
                            .then(response => response.json())
                            .then(json => {
                                for (let message of json.messages) {
                                    this.usersLastMsg[friend.username] = message.body
                                }
                            });
                    }
                },
                fetchUsers() {
                    fetch(" {{ url_for('api.users') }} ")
                        .then(response => response.json())
                        .then(json => {
                            for (let user of json.users) {
                                if (user.username !== "{{ session['username'] }}") {
                                    this.users.push(user)
                                    this.usersLastMsg[user.username] = ""
                                }
                            }
                        });
                },
                sendMsg() {
                    const message = document.getElementById('message')
                    const from = document.getElementById('from').value
                    axios
                        .post(this.sendUrl, {
                            message: message.value,
                            from: from
                        })
                        .then((response) => {
                        }, (error) => {
                            console.log(error);
                        });
                    message.value = ""
                },
                scrollOnTop() {
                    const scroller = document.getElementById('scroller')
                    if (scroller.scrollTop == 0 && this.messagesIds.length) {
                        let last_id = Math.min(...this.messagesIds)
                        fetch(this.chat + "&lastId=" + last_id)
                            .then(response => response.json())
                            .then(json => {
                                for (let message of json.messages) {
                                    if (!this.messagesIds.includes(message.msgId)) {
                                        this.messagesIds.push(message.msgId)
                                        this.messages.unshift(message)
                                    }
                                }
                            });

                    }
                },
                scrollToBottom() {
                    let container = this.$el.querySelector("#scroller")
                    if (container.scrollTop==0) {
                        $('#scroller').scrollTop($('#scroller div:nth-child(10)').position().top);
                    } else {
                        container.scrollTop = container.scrollHeight;
                    }


                },
                setChat(chat) {
                    this.scrollNotForScroll = false
                    this.messages = []
                    this.messagesIds = []
                    if (chat === "main_board") {
                        this.chat = "{{ url_for_api_messages }}" + "?limit=" + "{{ limit }}"
                        this.sendUrl = '{{ url_for('api.send') }}'
                    } else {
                        this.changeRoom(chat)
                    }
                    this.loadData();
                },
                changeRoom(friend) {
                    this.chat = "{{ url_for('api.chat_rooms') }}?" + "friend=" + friend + "&user=" + this.user + "&limit=" + "{{ limit }}"
                    this.sendUrl = "{{ url_for('api.send') }}?" + "friend=" + friend + "&user=" + this.user
                }
            },
            mounted() {
                this.fetchUsers();
                this.loadData();
                this.loadLastMsgs();
                const scroller = document.getElementById('scroller')
                scroller.addEventListener('scroll', this.scrollOnTop)
                this.intervalId = setInterval(() => this.loadData(), 2000);
                this.intervalLastMsgId = setInterval(() => this.loadLastMsgs(), 2000);

            },
            updated() {
                this.$nextTick(() => this.scrollToBottom())
            },
            beforeDestroy() {
                clearInterval(this.intervalId);
            }
        })
    </script>
{% endblock %}
