{% extends "base.html" %}
{% from "_navbar.html" import render_navbar %}
{% from "_macros.html" import render_field %}

{% block title %}
    Board
{% endblock %}

{% block head %}
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
    {{ render_navbar() }}
    <div id="app" v-cloak>
        <div class="jumbotron">
            <ul class="list-group" style="height:350px; width:100%; overflow:hidden; overflow-y:auto;">
                <li class="list-group-item" v-for="message in messages">
                    <p class="font-weight-bold"> [[ message['from'] ]] </p>
                    <span> [[ message['body'] ]] </span>
                    <span style="float:right"> [[ message['date'] ]] </span>
                </li>
            </ul>
            <form action={{ url_for('main_board.send') }} method="post" id="message_form">
                <dl>
                    {{ message_form.csrf_token }}
                    {{ message_form.message.label() }}
                    <input id="from" name="from" type="hidden" value='{{ session.username }}' />
                    {{ message_form.message(**{"class": "form-control"}) }}
                </dl>
                <input type="submit">
            </form>
        </div>
    </div>
    <script>
        const app = new Vue({
            el: "#app",
            delimiters: ['[[', ']]'],
            data: () => ({
                intervalId: null,
                dataLoaded: false,
                messages: []
            }),
            methods: {
                loadData() {
                    fetch("{{ url_for_api_messages }}")
                        .then(response => response.json())
                        .then(json => {
                            this.messages = json.messages
                            console.log(this.messages)
                        });
                },
            },
            mounted() {
                this.loadData();
                this.intervalId = setInterval(() => this.loadData(), 5000);
            },
            beforeDestroy() {
                clearInterval(this.intervalId);
            }
        })
    </script>
{% endblock %}
