{% extends "base.html" %}
{% from "_navbar.html" import render_navbar %}
{% from "_macros.html" import render_field %}

{% block title %}
    Board
{% endblock %}

{% block head %}
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }

        #scroller * {
            overflow-anchor: none;
        }

        #scroller::-webkit-scrollbar {
            display: none;
        }

        #anchor {
            overflow-anchor: auto;
            height: 1px;
        }

        :root {
            font-family: sans-serif;
        }

        .chat {
            overflow: scroll;
            max-height: 600px;
        }

        .message {
            margin: 0.5em;
            line-height: 1.1em;
        }
        .message-box{
            height: 60px;
        }

    </style>
{% endblock %}

{% block content %}
    {{ render_navbar() }}
    <div id="app" v-cloak>

        <div class="jumbotron">
            <div id="scroller" class="chat container">
                <div v-for="message in messages" class="message row">
                    <div v-if="message.from == user" class="col offset-md-4 message-box bg-info text-white" >
                            <p class="text-right">
                                <span> [[ message['date'] ]] </span>
                                <span class="font-weight-bold"> [[ message['from'] ]] </span>
                            </p>
                            <p class="text-right pb-5 mb-3"> [[ message['body'] ]] </p>
                    </div>
                    <div v-else class="col-4 message-box bg-dark text-white">
                            <p>
                                <span class="font-weight-bold"> [[ message['from'] ]] </span>
                                <span> [[ message['date'] ]] </span>
                            </p>
                            <p> [[ message['body'] ]] </p>
                    </div>
                </div>

                <div id="anchor"></div>
            </div>

            <form action={{ url_for('api.send') }} method="post" id="message_form">
                <dl>
                    {{ message_form.csrf_token }}
                    <input id="from" name="from" type="hidden" value='{{ session.username }}'/>
                    {{ message_form.message(**{"class": "form-control"}) }}
                </dl>
                <a href="#" v-on:click="sendMsg()" class="btn btn-primary">SUBMIT</a>
            </form>
        </div>
    </div>
    <script>
        const app = new Vue({
            el: "#app",
            delimiters: ['[[', ']]'],
            data: () => ({
                intervalId: null,
                dataLoaded: false,
                messages: [],
                scrolled: false,
                user: "{{ session.username }}",
            }),
            methods: {
                loadData() {
                    fetch("{{ url_for_api_messages }}")
                        .then(response => response.json())
                        .then(json => {
                            this.messages = json.messages
                        });
                },
                sendMsg() {
                    const message = document.getElementById('message')
                    const from = document.getElementById('from').value
                    axios
                        .post('{{ url_for('api.send') }}', {
                            message: message.value,
                            from: from
                        })
                        .then((response) => {
                        }, (error) => {
                            console.log(error);
                        });
                    this.scrollToBottom()
                    message.value = ""
                },
                scrollOnTop() {
                    const scroller = document.getElementById('scroller')
                    if (scroller.scrollTop == 0) {
                        console.log("reached top")
                    }
                },
                scrollToBottom(){
                    const scroller = document.getElementById('scroller')
                    scroller.scrollTop = scroller.scrollHeight
                }
            },
            mounted() {
                this.loadData();
                const scroller = document.getElementById('scroller')
                scroller.addEventListener('scroll', this.scrollOnTop)
                this.intervalId = setInterval(() => this.loadData(), 500);

            },
            updated() {
                if (!this.scrolled) {
                    this.scrollToBottom()
                    this.scrolled = true
                }

            },
            beforeDestroy() {
                clearInterval(this.intervalId);
            }
        })
    </script>
{% endblock %}
