.footer-basic {
    padding: 10px 0;
    background-color: #ffffff;
    color: #4b4c4d;
    position: absolute;
    bottom:0px;
    left: 45%;
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
}

.footer-basic .social {
    text-align: center;
}

.footer-basic .social > a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic .social > a:hover {
    opacity: 0.9;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
}

.chat-app {
    background: #282626;
    height:85%;
}

.main-box{
    height: 800px;
}


#scroller * {
    overflow-anchor: none;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#anchor {
    overflow-anchor: auto;
    height: 1px;
}

:root {
    font-family: sans-serif;
}

.chat {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 500px;
}

.chat-header{
    background: #4b4c4d;
    color:white;
}

.message {
    line-height: 1.1em;
}

.chat-users-box {
}

.chat-form-box {
    position: absolute;
    width: 98%;
    bottom: 40px;
}

.chat-form-buttons {
    position: absolute;
    bottom: 20px;
}

.chat-file-input::-webkit-file-upload-button {
    visibility: hidden;
    display: none;
}

.chat-file-input {
    content: 'Select file';
    display: inline-block;
    padding: 5px 8px;
    -webkit-user-select: none;
    cursor: pointer;
    background: #dd807730;
}

.chat-file-input:hover {
    transition: 0.3s;
    border: 1px solid salmon;
    border-radius: 2px;
    background: #dd8077;
}

.input-message {
    width: 95%;
    display: inline-block;

}

.input-message-submit {
    display: inline-block;
    width: 4%;
}

.last-message {
    display: block;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.message-box {
    min-height: 30px;
    word-break: break-word;
    margin: 0.2em;
}

.dot {
    height: 36px;
    width: 36px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    padding-top: 10px;
    margin-right: 4px;
}

.chat-img {
    max-height: 400px;
    max-width: 400px;
    height: auto;
    width: auto;
}
.chat-img-preview{
    display: block;
    max-height: 200px;
    max-width: 200px;
    height: auto;
    width: auto;
}

.bg-chat-msg-user {
    background: #2196f3;
}
