{% macro render_navbar() %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href=" {{ url_for("main_board.index") }} ">Board <span
                            class="sr-only">(current)</span></a>
                </li>
                {% if not session['username'] %}
                <li class="nav-item">
                    <a class="nav-link" href=" {{ url_for("authorization.login") }} ">Login</a>
                </li>
                {% endif %}
                {% if session['username'] %}
                    <li class="nav-item">
                        <a class="nav-link" href=" {{ url_for("authorization.logout") }} ">Logout</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <span>{{ session["username"] }}</span>
    </nav>
    <div class="alerts">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == "error" %}
                        <div class="alert alert-danger alert-dismissible fade show m-1"
                             role="alert">
                    {% elif category == "success" %}
                        <div class="alert alert-success alert-dismissible fade show m-1"
                             role="alert">
                    {% else %}
                        <div class="alert alert-dark alert-dismissible fade show m-1"
                             role="alert">
                    {% endif %}
                <span>{{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        </div>
{% endmacro %}