<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js"
            integrity="sha256-ur/YlHMU96MxHEsy3fHGszZHas7NzH4RQlD4tDVvFhw="
            crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    {% block head %}{% endblock %}
</head>
<body>

{% block content %}{% endblock %}
{#<div class="footer-basic mt-5">#}
{#    <footer>#}
{#        <div class="social">#}
{#            <a href="https://github.com/NormanFriman52/CompanyApp"><i class="icon ion-social-github"></i></a>#}
{#            <a href="https://vuetifyjs.com/en/"><i class="icon ion-social-javascript"></i></a>#}
{#            <a href="https://flask.palletsprojects.com/en/1.1.x/"><i class="icon ion-social-python"></i></a>#}
{#            <a href="https://www.mongodb.com/"><i class="icon ion-android-cloud"></i></a>#}
{#        </div>#}
{#    </footer>#}
{#</div>#}


<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script>
  $(document).ready(function(){
    setTimeout(function(){
    $('.alert').fadeOut();
    }, 4000);
  })
</script>

{% block scripts %}{% endblock %}

</body>
</html>
